/* Event Card Container */
.eventCard {
    background: #fff;
    border-radius: 16px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 15px;
    transition: transform 0.2s;
  }
  
  .eventCard:hover {
    transform: scale(1.02);
  }
  
  /* Days Left Badge */
  .daysLeftBadge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #e91e63;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 20px;
  }
  
  /* Image Wrapper */
  .imageWrapper {
    position: relative;
    width: 100%;
    height: 180px;
    overflow: hidden;
  }
  
  .eventImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  
  /* Favorite Icon */
  .favoriteIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #ff5c5c;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.3s ease;
  }
  
  .favoriteIcon:hover {
    transform: scale(1.2);
  }
  
  /* Event Details */
  .eventDetails {
    padding: 16px;
    text-align: center;
  }
  
  .eventDetails h3 {
    font-size: 18px;
    color: #c2185b;
    margin-bottom: 5px;
  }
  
  /* Event Date */
  .date {
    font-size: 14px;
    color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 5px;
  }
  
  /* Relation Tag */
  .relationTag {
    background-color: white;
    color: #ff5c5c;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid #ff5c5c;
    display: inline-block;
    margin-top: 5px;
  }
  
  /* Plan And Celebrate Button */
  .planButton {
    padding: 10px 20px;
    background-color: #ff5c5c;
    color: white;
    border: none;
    border-radius: 30px;
    margin-top: 15px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.3s;
  }
  
  .planButton:hover {
    background-color: #ee4266;
  }
  .dateNrelation{
    display: flex;
    align-items: center;
    gap:155px;
  }